/* Basic stylesheet */
body { width: 100%; }
.on {background: lightgreen; }
.off {background: #888; color: white; }
.button .off {background: transparent; color: #888; }
.button .on { background: transparent; color: green; }
.button { font-size: 2em; }
.ok {color: green; }
.fail { color: red; }
.fullwidth { width: 100%; }
.node { width: 100%; margin: 1em; padding: 1em; float: left; background: #dfd; text-align: center;}
.node.disabled { background: #fdd }
.node.old { opacity: 0.5; }
.brooder a {
 text-decoration: none;
 color: black;
}
.node .title {
 font-weight: bold;
 font-size: 120%;
}
.data {
  font-size: 300%;
}
.current::after {
 content: "\2103";
}
.max {
 font-size: 90%;
}
.max::before {
  content: "/";
}
.light.on {
 color: yellow;
}
.heat.on {
 color: red;
}
input[type="text"] {
  font-size: 1.3em;
  padding: 0 0.2em;
  width: 6em;
  text-align: right;
}
.times span {
  font-size: 50%;
}

.times .start::before {
  content: 'On: ';
}
.times .end::before {
  content: 'Off: ';
}
#tempset {
  clear: left;
  margin-bottom: 1em;
}
#tempset div.row {
  padding-bottom: 1em;
}
@media (max-width: 767px) {
 .temp { font-size: 80px; }
}
.config div {
  padding: 0.3em 0;
}
.entity label {
  float: left;
}
.entity input {
  float: right;
}
.actions {
  clear: both;
}
