{% extends "layout.html" %}
{% block body %}
<div class="fullwidth">
<h2>Brooder Configuration</h2>
<form id="conffrm" method="POST">
<div class="config">
<div class="entity"><label for="temp_high">Max Temperature</label><input type="text" name="temp_high" value="{{ config.temp_high }}"/></div>
<div class="entity"><label for="temp_low">Min Temperature</label><input type="text" name="temp_low" value="{{ config.temp_low }}"/></div>
<div class="entity"><label for="hysterisis">Hysterisis</label><input type="text" name="hysterisis" value="{{ config.hysterisis }}"/></div>
<div class="entity"><label for="reference">Sensor ID</label><input type="text" name="reference" value="{{ config.reference }}"/></div>
<div class="entity"><label for="time_start">Light On Time</label><input type="text" name="time_start" value="{{ config.time_start }}"/></div>
<div class="entity"><label for="time_end">Light Off Time</label><input type="text" name="time_end" value="{{ config.time_end }}"/></div>
<div class="entity"><label for="cycle_offset">Delay to start of cycle</label><input type="text" name="cycle_offset" value="{{ config.cycle_offset }}"/></div>
<div class="entity"><label for="ramp_factor">Degrees per day of cycle</label><input type="text" name="ramp_factor" value="{{ config.ramp_factor }}"/></div>
<div class="actions"><input type="submit" name="submit" value="Submit"/></div>
</div>
</form>
</div>
<a href="{{ url_for('brooder.index') }}">Home</a>
{% endblock %}
