{% extends "layout.html" %}
{% block head %}
<!-- <meta http-equiv="refresh" content="20"/> -->
{% endblock %}
{% block body %}
<h1>{{ node.name }}</h1>
<div class="col-sm-3">
<div>Last Updated {{ "%d"|format(node._sensor.age()) }} seconds ago</div>
<div class="node{{ " old" if node._sensor.age() > 3600 }}{{ " disabled" if not node.enabled }}">
 <div class="data">
  <span class="current">{{ node.current_value }}</span>
  <span class="max">{{ node.max_value }}</span>
  <div class="indicators">
   <span class="light {{ "on" if node.light_state else "off" }}"><i class="fa fa-fw fa-lightbulb-o"></i></span>
   <span class="heat {{ "on" if node.heater_state else "off" }}"><i class="fa fa-fw fa-fire"></i></span>
  </div>
 </div>
</div>
<form method="post" id="tempset">
  <input type="hidden" id="power" name="power" value="" />
  <input type="hidden" id="cycle" name="cycle" value="" />
  <div class="row">
  <div class="button col-xs-6">Power <a href="#" class="toggler{{ " on" if node.enabled else " off" }}" data-target="power" data-state="{{ "off" if node.enabled else "on" }}"><i class="fa fa-fw fa-toggle-{{ "on" if node.enabled else "off" }}"></i></a></div>
  <div class="button col-xs-6">Cycle <a href="#" class="toggler{{ " on" if node.cycle_enabled else " off" }}" data-target="cycle" data-state="{{ "off" if node.cycle_enabled else "on" }}"><i class="fa fa-fw fa-toggle-{{ "on" if node.cycle_enabled else "off" }}"></i></a></div>
  </div>
  <div class="row">
   <div id="temperature"></div>
  </div>
  <div class="row">
   <div class="col-xs-6"><input type="text" size="5" id="temp-txt" name="temp" value="{{ node.max_value }}" /></div>
   <div class="col-xs-6"><button type="submit" class="btn" name="set" value="1">Set Temp</button></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><select name="clonefrom">
    {% for o in nodelist %}
    <option value="{{ o.id }}">{{ o.name }}</option>
    {% endfor %}
    </select></div>
    <div class="col-xs-6"><button type="submit" class="btn" name="clone" value="1">Clone</button></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><button type="submit" class="btn" name="default" value="1">Default</button></div>
    <div class="col-xs-6"><button type="submit" class="btn" name="refresh" value="1">Refresh</button></div>
  </div>
</form>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('.toggler').click(function() {
  var name = $(this).data('target');
  $('#' + name).val($(this).data('state'));
  $('#tempset').submit();
});
$('#temperature').slider({
  min: {{ config.temp_low }},
  max: {{ config.temp_high }},
  value: {{ node.set_temperature if node.set_temperature else config.temp_high }},
  change: function(event, ui) {
    $('#temp-txt').val(ui.value);
  },
});
$('#temp-txt').change( function() {
  $('#temperature').slider("value", $(this).val());
});
</script>
{% endblock %}
